services:
  app:
    depends_on:
      mongo:
        condition: service_healthy
    build: .
    container_name: vehicle-app
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    networks:
      - webnet

  mongo:
    image: mongo:6
    container_name: vehicle-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - webnet


  nginx:
    image: nginx:stable-alpine
    container_name: vehicle-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./config/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - webnet

volumes:
  mongo_data:

networks:
  webnet:
    driver: bridge
